h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

#myTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#myTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#myTable tr:nth-child(even) {
    background-color: #dddddd;
}